<div class="patient-item mt-1 mb-3">
        <div class="row patient-item-header">
                <div class="col-md-6">
                        <div class="row h-100 align-items-center">
                                <span id="status-badge" class="badge-status"></span>
                                <span><strong id="patient_name">PLACEHOLDER_NAME</strong></span>
                        </div>
                </div>
                <div class="col-md-6 patient-action-container">
                        <div class="row h-100 align-items-center justify-content-end">
                                <div class="btn-group mr-1" role="group" aria-label="patient_actions">
                                        <button type="button" id="new_appointment" onclick="create_appointment(this)" class="btn btn-light" data-toggle="modal" data-target="#new-appointment-model"><i
                                                        class="fas fa-calendar-alt"></i> +</button>
                                        <button type="button" id="edit_patient" class="btn btn-light"><i
                                                        class="fas fa-edit"></i></button>
                                        <button type="button" id="transfer_patient" class="btn btn-danger"><i
                                                        class="fas fa-random"></i></button>
                                </div>
                        </div>
                </div>
        </div>
        <div class="row patient-item-body">
                <div class="col-lg-6">
                        <div class="row">
                                <div class="col-md-6">
                                        <p class="key">Unique Id:</p>
                                </div>
                                <div class="col-md-6">
                                        <p id="patient_id">PLACEHOLDER_ID</p>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-md-6">
                                        <p class="key">Date of Birth:</p>
                                </div>
                                <div class="col-md-6">
                                        <p id="patient_dob">PLACEHOLDER_DOB</p>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-md-6">
                                        <p class="key">Email:</p>
                                </div>
                                <div class="col-md-6">
                                        <p id="patient_email">PLACEHOLDER_EMAIL</p>
                                </div>
                        </div>
                </div>
                <div class="col-lg-6">
                        <div class="row">
                                <div class="row">
                                        <div class="col-md-6">
                                                <p class="key">Number of upcoming appointments:</p>
                                        </div>
                                        <div class="col-md-6">
                                                <p id="patient_appointment_count">PLACEHOLDER_APPOINTMENT_COUNT</p>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>
