{% extends "users_container.html" %}

{% block invitation_body %}

<form id="invite-form" action="#" onsubmit="submit_invite(this); return false;" novalidate>
    <div class="modal-body">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="invite-forename">First name</label>
                <input type="text" class="form-control" id="invite-forename" placeholder="First name" required>
                <div id="forename-validator"></div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="invite-surname">Last name</label>
                <input type="text" class="form-control" id="invite-surname" placeholder="Last name" required>
                <div id="surname-validator"></div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <label for="invite-email">E-mail address</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="email-addon">@</span>
                    </div>
                    <input type="email" id="invite-email" class="form-control" placeholder="Enter e-mail"
                        aria-describedby="email-addon" required>
                    <div id="email-validator"></div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <label for="invite-confirm-email">Confirm e-mail address</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="confirm-addon">@</span>
                    </div>
                    <input type="email" id="invite-confirm-email" class="form-control" placeholder="Confirm e-mail"
                        aria-describedby="confirm-addon" required>
                    <div id="confirm-email-validator"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="submit-cancel-form" type="button" class="btn btn-danger" onclick="close_form()">Cancel</button>
        <button id="submit-invite-form" type="submit" class="btn btn-success">Send Invite</button>
    </div>
</form>
{% endblock %}
