html, body {
    background: #323545;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

#centered-container-wrapper form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#centered-container-wrapper label {
    font-size: .9rem;
    margin-bottom: .5rem;
}

#centered-container-wrapper input {
   background-color: rgb(232, 240, 254);
}

.invalid-feedback {
    width: initial;
}

.table-sm td, .table-sm th {
    padding: .25rem !important;
}
