<div class="row m-1 component-container">
	<div class="row component-container-header hd-light">
		<p>Your appointments</p>
	</div>
	<div class="row component-container-body m-3">
		<p class="component-container-body-header">Upcoming Appointments</p>
		<div id="upcoming_appointments_container">
			<!-- Appointments items will go here -->
		</div>
		<p class="component-container-body-header">Previous Appointments</p>
		<div id="past_appointments_container">
			<!-- Appointments items will go here -->
		</div>
	</div>
</div>
