<div class="row m-1 component-container">
	<div class="row component-container-header hd-light">
		<p>Your appointments</p>
	</div>
	<div class="row component-container-body m-3">
		<p class="component-container-body-header">Upcoming Appointments</p>
		{% for appointment in context['upcoming'] %}
		{% include "appointment_container_item.html" %}
		{% endfor %}
		<p class="component-container-body-header">Previous Appointments</p>
		{% for appointment in context['past'] %}
		{% include "appointment_container_item.html" %}
		{% endfor %}
	</div>
</div>
