<div class="row">
    <div class="col ml-2 mr-2 align-self-container component-container">
        <div class="row component-container-header hd-light justify-content-between">
            <p>{{ title }}</p>
            <button id="user_header_invite-button" class="btn btn-custom mt-2 mb-2" data-toggle="modal"
                data-target="#invite-user-model">Invite</button>
        </div>
        <div class="row component-container-body m-3">
            <p class="component-container-body-header">{{ subtitle_one }}</p>
            <div id="current_user_container">
                <!-- User items will go here -->
            </div>
            <p class="component-container-body-header">{{ subtitle_two }}</p>
            <div id="past_user_container">
                <!-- User items will go here -->
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="invite-user-model" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header align-items-center hd-dark">
                    <p class="modal-title" id="invite-user-model-title">{{ modal_title }}</p>
                    <button type="button" class="close" style="color: white;" onclick="close_invite_form()" aria-label="Close">
                        <i aria-hidden="true" class="fas fa-times"></i>
                    </button>
                </div>
                {% block invitation_body %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% block component_specific %}
    {% endblock %}
</div>
