{% extends "centered_container.html" %}

{% block centered_container_content %}
   <div id="welcome-panel" class="row col-8 col-sm-8 col-md-10 align-self-end flex-fill">
    <div id="welcome-panel-header" class="row align-items-start justify-content-end">
     <h1>Patient Portal</h1>
     <p>{{ payload.welcome_message }}</p>
    </div>
    <div id="welcome-panel-footer" class="row flex-fill justify-content-end">
     <form action="{{ url_for('auth.login') }}" method="GET">
      <button class="btn btn-custom">Login</button>
     </form>
      <p>{{ payload.version_number }}</p>
    </div>
   </div>
  </div>
   <div id="welcome-panel-help" class="row">
    <p class="flex-fill">Looking to register ? See here for help.</p>
   </div>
 {% endblock %}

