.appointment-item .row {
  margin: 0px;
}

.appointment-item {
  margin-bottom: 10px;
  border: 1px solid #e3e3e3;
}

.appointment-item-header {
  font-size: .9rem;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  color: #323545;
  min-height: 50px;
}

.appointment-item-header .col {
  margin: 0px;
}

.appointment-item-header .separator {
  min-height: 2px;
  background-color: #FE4284;
  margin: 0px 10px;
}

.location-container, .reason-container {
  display: flex;
  flex-direction: row;
}

.appointment-item-body p {
  margin: 0px;
}

.appointment-item-body {
  padding: 10px;
  font-size: 0.8rem;
  overflow-wrap: break-word;
}

.appointment-item-body .key {
  font-weight: bold;
}
