#patients-component .col {
    padding-left: 0px;
    padding-right: 0px;
}

.patient-item .row {
    margin: 0px;
}

.patient-item {
    margin-bottom: 10px;
    border: 1px solid #e3e3e3;
}

.patient-item-body {
    padding: 10px;
    font-size: 0.8rem;
    overflow-wrap: break-word;
}

.patient-item-body p {
    margin: 0px;
}

.patient-item-body .key {
    font-weight: bold;
}

.patient-item-header {
    font-size: .9rem;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    color: #323545;
    min-height: 50px;
}

.patient-action-container {
    padding-right: 0px;
}

.patient-item-header .col {
    margin: 0px;
}

.badge-status {
    height: 10px;
    width: 10px;
    border-radius: .25rem;
    margin-left: 10px;
    margin-right: 10px;
}

.badge-online {
    background-color: #28a745;
}

.badge-offline {
    background-color: #dc3545;
}

.btn-light {
    background-color: #ffffff00;
    border-color: #ffffff00;
}

.dark-icon {
    color: #323545;
}

.light-icon {
    color: whitesmoke;
}

.input-group-text {
    color: whitesmoke;
    background-color: #323545;
    border-color: #323545;
}
