<div class="appointment-item">
	<div class="row appointment-item-header">
		<div class="col-md-6">
			<div class="row h-100 align-items-center">
				<span><strong id="appointment_date_left">PLACEHOLDER_DATE_LEFT</strong></span>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row h-100 align-items-center justify-content-end">
				<span><strong id="appointment_date_right">PLACEHOLDER_DATE_RIGHT</strong></span>
			</div>
		</div>
	</div>
	<div class="row appointment-item-body">
		<div class="col-lg-6">
			<div class="row mb-1">
				<div class="col-md-4">
					<p class="key">Location:</p>
				</div>
				<div class="col-md-8">
					<p id="appointment_location_name">PLACEHOLDER_LOC_NAME</p>
					<p id="appointment_location_address">PLACEHOLDER_LOC_ADR</p>
					<p id="appointment_location_postcode">PLACEHOLDER_LOC_POS</p>
					<p id="appointment_location_city">PLACEHOLDER_LOC_CITY</p>
				</div>
			</div>
			<div class="row mb-1">
				<div class="col-md-4">
					<p class="key">Reason:</p>
				</div>
				<div class="col-md-8">
					<p id="appointment_reason">PLACEHOLDER_REASON</p>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="row mb-1">
				<div class="col-md-4">
					<p class="key">Notes:</p>
				</div>
				<div class="col-md-8">
					<p id="appointment_notes">PLACEHOLDER_REASON</p>
				</div>
			</div>
		</div>
	</div>
</div>
