{% extends "settings_container.html" %}

{% block body %}
<div class="component-container-section-header">Personal Care Settings</div>
<div class="col component-container-section-body">
    <form action="#">
        <div class="form-group row">
            <label for="care_location" class="col-sm-2 col-form-label">Care Location :</label>
            <div id="care_location" class="col-sm-6">
                <p> {{ context.care_location.location_name }}, </p>
                <p> {{ context.care_location.location_address }}, </p>
                <p> {{ context.care_location.location_postcode }}, </p>
                <p> {{ context.care_location.location_city }}, </p>
            </div>
        </div>
        <div class="form-group row">
            <label for="user_clinician" class="col-sm-2 col-form-label">Clinician :</label>
            <div class="col-sm-6">
                <p id="user_clinician"> Dr. {{ context.clinician.user_surname }}, {{ context.clinician.user_forename }} </p>
            </div>
        </div>
        <div class="form-group row">
            <label for="user_clinician_mail" class="col-sm-2 col-form-label">Email :</label>
            <div class="col-sm-6">
                <p id="user_clinician_mail"> {{ context.clinician.user_email }} </p>
            </div>
        </div>
    </form>
</div>
{% endblock %}
