html, body {
   height: 100%;
   font-weight: normal;
   font-family: Comfortaa;
}

.container {
    max-width: 800px;
}

.navbar-custom {
    background: #323545;
    margin-bottom: 0px;
    padding: 15px 10px;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

#centered-container-doctor {
    top: 45px;
}

#centered-container-wrapper{
    position: relative;
    overflow: hidden;
}

#centered-container-wrapper img {
    position: absolute;
}

#centered-container-wrapper  h1 {
    font-weight: bold;
}

#centered-container-wrapper p {
    text-align: justify;
    max-width: 300px;
}

#centered-container-wrapper h1, p {
    color: #323445;
}

#centered-container-wrapper.row {
    flex-direction: column;
    background: white;
    min-height: 400px;
    padding: 20px;
    border-radius: 5px;
    background-image: url('/static/images/patient_portal_secondary_icon.svg');
    background-repeat: no-repeat;
    background-size: 650px;
    background-position: -220px -180px;
}

.btn-custom {
    color: #fff;
    background-color: #FE4284;
    border-color: #FE4284;
    border-radius: 20px;
    -webkit-box-shadow: -13px 15px 36px -13px rgba(254,66,132,0.97);
    -moz-box-shadow: -13px 15px 36px -13px rgba(254,66,132,0.97);
    box-shadow: -13px 15px 36px -13px rgba(254,66,132,0.97);
}

.btn-custom-danger {
    color: #fff;
    background-color: #db3445;
    border-color: #db3445;
    border-radius: 10px;
}

.btn-custom-success {
    color: #fff;
    background-color: #27a545;
    border-color: #27a545;
    border-radius: 10px;
}

.btn-custom:hover {
    color: #fff;
    background-color: #ea3f7b;
    border-color: #ea3f7b;
}

.btn-custom-success:hover {
    color: #fff;
    background-color: #23893b;
    border-color: #23893b;
}

.btn-custom-danger:hover {
    color: #fff;
    background-color: #bc2b39;
    border-color: #bc2b39;
}

/* Media Queries */
@media only screen and (min-width: 400px) {
  #centered-container-doctor {
      left: -65px;
  }

}

@media only screen and (max-width: 400px) {
  #centered-container-doctor {
      left: -65px;
  }
}

@media only screen and (min-width: 600px) {
   #centered-container-doctor {
       left: -40px;
   }

   #welcome-panel button {
      max-width: 300px;
      min-width: 300px;
  }
}

/*
        Shared component css
*/

.component-container {
    flex-direction: column;
    -webkit-box-shadow: 1px 17px 55px -15px rgba(0,0,0,0.64);
    -moz-box-shadow: 1px 17px 55px -15px rgba(0,0,0,0.64);
    box-shadow: 1px 17px 55px -15px rgba(0,0,0,0.64);
    border-radius: 20px
}

.component-container-section-header {
    background: #F2F2F2;
    padding: 20px;
    border: 1px solid #e3e3e3;
    color: #FE4284;
}

.component-container-section-body {
    padding: 20px;
}

.component-container-section-body .form-group {
    justify-content: space-around;
}

.component-container-footer {
    justify-content: flex-end;
    margin: 0px;
    padding: 25px;
    border-top: 1px solid #e3e3e3;
    border-radius: 0px 0px 20px 20px;
}

.component-container-header p {
    display: flex;
    align-items: center;
    margin: 0px 20px;
    font-size: 1.1rem;
    font-weight: bold;
}

.component-container-body-header {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #333333;
}

.component-container-header {
    max-height: 60px;
    min-height: 60px;
    border-radius: 20px 20px 0px 0px;
    margin: 0px;
    border-bottom: 1px solid #E3E3E3;
}

.hd-light div p {
    color:#323546;
}

.hd-dark div p {
    background-color: #323546;
    color: #fff;
}

.component-container-body {
    flex-direction: column;
    min-height: 100px;
    border-radius: 0px 0px 20px 20px;
}
