html, body {
	margin: 0px;
	height: 100%;
	font-weight: normal;
}

body {
	display: grid;
	grid-template-rows: repeat(12, 1fr);
	grid-template-columns: 250px auto;
	font-weight: normal;
}


/************ Dashboard ************/
.dashboard-container {
	grid-column: 1 / 13;
	grid-row: 2 / 13;
	margin-left: 250px;
	transition: 0.5s;
}

.dashboard-sidebar {
	display: grid;
	grid-template-rows: repeat(12, 1fr);
	overflow-x: hidden;
	transition: 0.5s;
	border-right: 1px solid red;
	/* Dynamic */
	grid-row: 2 / 13;
	grid-column: 1 / 2;
}

.dashboard-sidebar-header {
	background-color: blue;
	display: flex;
	align-items: center;
	justify-content: center;
	grid-row: 1 / 2;
}

.dashboard-sidebar-body {
	grid-row: 1 / 12;
	background: blue;
}

.dashboard-sidebar-footer {
	grid-row: 12 / 13;
	background: yellow;
}

/************** Navigation Bar ****************/
.dashboard-nav {
	display: flex;
	align-items: center;
	background: purple;
	border-bottom: 1px solid pink;
	grid-row: 1 / 2;
	grid-column: 1 / 13;
}

.dashboard-nav-links-container {
	display: flex;
	align-content: center;
	justify-content: flex-end;
	height: 100%;
	width: 100%;
	margin-left: 20px;
}

.dashboard-nav-links-container ul {
	display: flex;
	justify-content: space-between;
	align-self: center;
	width: 100%;
	margin-top:20px;
	transition: 0.5s;
}

.dashboard-nav-links-container li {
	display: flex;
	margin: 0 10px;
	color: whitesmoke;
	list-style-type: none;
}

.dashboard-nav-links-container a {
	border-radius: 5px;
	padding: 20px;
	text-decoration: none;
	user-select: none;
	color: whitesmoke;
	transition: 0.2s;
}

.dashboard-nav-links-container a:hover {
	cursor: pointer;
	background: red;
	color: magenta;
}

.dashboard-nav-links-container a:active {
	background: blue;
}

.dashboard-nav-links-right {
	display: flex;
}
