p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background: #323545;
    color: #fff;
    transition: all 0.3s;
    border-right: 1px solid #323545;
    -webkit-box-shadow: 10px 0px 25px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 0px 25px -12px rgba(0,0,0,0.75);
    box-shadow: 10px 0px 25px -12px rgba(0,0,0,0.75);
}

#sidebar .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;
    transition: all 0.3s;
}

#sidebar.active .sidebar-header {
    justify-content: center;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar .sidebar-header span {
    display: inline-block;
    visibility: visible;
    opacity: 1;
}

#sidebar.active .sidebar-header span {
	display: none;
	visibility: hidden;
	opacity: 0;
}

.sidebar-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar ul {
    background: #FFFFFF30;
    border-top: 1px solid #E6E8F4;
    margin-bottom: 0px;
}

#sidebar ul li {
    border-bottom: 1px solid #323545;
}

#sidebar ul li a {
    display: flex;
    min-height: 80px;
    max-heihgt: 80px;
    align-items: center;
    justify-content: left;
    padding: 20px;
}

#sidebar.active ul li a {
    justify-content: center;
}

#sidebar ul li a span {
    display: block;
    padding-left: 20px;
    opacity: 1;
    visibility: visible;
}

#sidebar.active ul li a span {
    display: none;
    visibility: hidden;
    opacity: 0;
}

#sidebar ul li.active {
    color: #323545;
    background: #E6E8F4;
}

#sidebar ul li:hover {
    color: #323545;
    background: #E6E8F4;
    cursor: pointer;
}

#sidebar.active ul li {
    min-height: 80px;
    max-height: 80px;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: calc(100% - 80px);
}

