{% extends "centered_container.html" %}

{% block centered_container_content %}
<div class="row justify-content-center mb-3">
    <h1>Create Login</h1>
</div>
<div class="row justify-content-center">
    <div class="col-md-8">
        <form id="confirm-login-form" method="POST" action="{{ url_for('auth.register', invite_id=invite.invite_id) }}" novalidate>
            <div class="form-row">
                <div class="col-md-6 mb-2">
                    <label for="user-forename">First name</label>
                    <input name="surname" type="text" class="form-control" id="user-forename" placeholder="First name"
                        value="{{ invite.invited_forename }}" required>
                    <div id="forename-validator"></div>
                </div>
                <div class="col-md-6 mb-2">
                    <label for="user-surname">Last name</label>
                    <input name="forename" type="text" class="form-control" id="user-surname" placeholder="Last name"
                        value="{{ invite.invited_surname }}" required>
                    <div id="surname-validator"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-1">
                    <label for="user-password">E-mail password</label>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="password-addon"><i class="fas fa-key"></i></span>
                        </div>
                        <input name="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[(){}!#$_%&amp;? &quot;])(?=.*[A-Z]).{8,}$"
                            type="password" id="user-password" class="form-control" placeholder="Enter password"
                            aria-describedby="password-addon" onchange="form.confirm.pattern = escape(this.value);"
                            required>
                        <div id="password-validator"></div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-1">
                    <label for="user-confirm-password">Confirm password</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="confirm-addon"><i class="fas fa-key"></i></span>
                        </div>
                        <input name="confirm" type="password" id="user-confirm-password" class="form-control"
                            placeholder="Confirm password" aria-describedby="confirm-addon" required>
                        <div id="confirm-validator"></div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <button type="submit" id="confirm-invite-button" class="btn btn-custom w-100">Confirm</button>
            </div>
        </form>
        {% if messages.authentication_error %}
        <div class="row justify-content-center">
          <div class="alert alert-danger" role="alert" style="margin: 10px;">
            {{ messages.authentication_error }}
          </div>
        </div>
        {% elif messages.authentication_success %}
        <div class="row justify-content-center">
            <div class="alert alert-success" role="alert" style="margin: 10px;">
                <strong>Success!</strong> {{ messages.authentication_success }} Click <a href="{{ url_for('auth.login') }}">here</a> to login!
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
